<h1>新しい投稿</h1>
<%= form_for :post, url: posts_path do |f| %>
  <p>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text, "内容" %><br>
    <%= f.text_area :body, cols: 60, rows: 8 %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>